@font-face {
  font-family: 'leet';
  src: url('dosis.extralight.ttf') format('truetype');
}

@font-face {
  font-family: 'ppheehee';
  src: url('uni-sans.heavy-caps.otf') format('opentype');
}

@font-face {
  font-family: 'nav';
  src: url('sui-generis-free.rg-regular.otf') format('opentype');
}

@font-face {
  font-family: 'wowww';
  src: url('metropolis.regular.otf') format('opentype');
}

/* Reset and General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0e0e0e;
    color: #fff;
    line-height: 1.6;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header Styles */
.header {
    background-color: #111;
    padding: 1em 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 40px; /* Adjust height as necessary */
}

.header nav ul {
    font-family: nav;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header nav ul li {
    margin-left: 1em;
}

.header nav ul li a {
    color: #00FFFF; /* Text color */
    text-decoration: none;
    padding: 1em; /* Adjusted padding to make the highlight cover the full height */
    transition: color 0.3s, background-color 0.3s; /* Add background color transition */
    position: relative; /* Needed for the box highlight effect */
    z-index: 1; /* Ensure the text is above the highlight box */
}

.header nav ul li a::before {
    content: ''; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Positioning relative to the parent */
    left: 0;
    width: 100%; /* Full width of the parent */
    height: 100%; /* Full height of the parent */
    background-color: #00FFFF; /* Highlight box color */
    opacity: 0; /* Start with no opacity */
    transition: opacity 0.3s; /* Smooth transition */
    z-index: -1; /* Place it behind the text */
    border-radius: 4px; /* Rounded corners */
}

.header nav ul li a:hover::before {
    opacity: 0.2; /* Slightly visible highlight box on hover */
}

.header nav ul li a:hover {
    color: #0dd3d3; /* Change text color on hover */
}

/* Hero Section Styles */
.hero {
    background-image: url('home-background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 10em 0;
}

.hero h2 {
    font-family: ppheehee;
    font-size: 3.5rem;
    margin-bottom: 0em;
}

.hero p {
    font-family: wowww;
    font-size: 1.2rem;
    margin-bottom: 2em;
}

.hero .btn {
    display: inline-block;
    background-color: #0dd3d3; /* Blue color for button */
    color: #fff;
    padding: 1em 2em;
    font-family: wowww;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
    border: 2px solid #0dd3d3; /* Blue border */
}

.hero .btn:hover {
    background-color: #0fb8b8; /* Darker blue on hover */
    border-color: #0fb8b8; /* Darker blue border on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
}

/* Services Section Styles */
.services {
    background-color: #1a1a1a;
    padding: 5em 0;
    text-align: center;
}

.services h2 {
    color: #fff;
    font-family: ppheehee;
    font-size: 2.3rem;
    margin-bottom: 1em;
}

.service-item {
    background-color: #333;
    padding: 1.5em;
    border-radius: 8px;
    margin-bottom: 3em;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, outline 0.3s; /* Added outline transition */
    outline: 2px solid transparent; /* Initially transparent outline */
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    outline-color: #00FFFF; /* Glowing outline color on hover */
}

.service-item h3 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 0.2em;
}

.service-item p {
    color: #ccc;
    font-size: 1rem;
}

/* About Section Styles */
.about {
    background-color: #111;
    color: #fff;
    padding: 5em 0;
    text-align: center;
}

.about h2 {
    font-size: 2.3rem;
    font-family: ppheehee;
    margin-bottom: 1em;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-top: 2em;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.team-member img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.team-member h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5em;
}

.team-member p {
    color: #888;
}

.social-media {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.social-link {
    font-family: wowww;
    font-size: 1.2rem;
    color: #7e9191;
    text-decoration: none;
    padding: 0.8em 0.8em;
    border: 2px solid transparent;
    border-radius: 8px; /* Added to round the corners */
    transition: color 0.3s, border-color 0.3s;
}

.social-link:hover {
    color: #0dd3d3;
    border-color: #0dd3d3;
}

/* Blog Section Styles */
.blog {
    background-color: #1a1a1a;
    padding: 5em 0;
    text-align: center;
}

.blog h2 {
    color: #fff;
    font-family: ppheehee;
    font-size: 2.3rem;
    margin-bottom: 1em;
}

.blog-post {
    background-color: #333;
    padding: 1.5em;
    border-radius: 8px;
    margin-bottom: 3em;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, outline 0.3s; /* Added outline transition */
    outline: 2px solid transparent; /* Initially transparent outline */
}

.blog-post:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    outline-color: #00FFFF; /* Glowing outline color on hover */
}

.blog-post h3 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 0.2em;
}

.blog-post p {
    color: #ccc;
    font-size: 1rem;
}

/* Contact Section Styles */
.contact {
    background-color: #111;
    color: #fff;
    padding: 5em 0;
    text-align: center;
}

.contact h2 {
    font-family: ppheehee;
    font-size: 2.3rem;
    margin-bottom: 0.8em;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact label {
    display: block;
    font-family: wowww;
    margin-bottom: 0.3em;
    font-size: 1.1rem;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    width: 100%;
    padding: 1em;
    margin-bottom: 1.5em;
    font-size: 1rem;
    border: 1px solid #444;
    background-color: #333;
    color: #00FFFF;
    border-radius: 4px;
    height: 50px;
}

.contact textarea {
    height: 150px;
}

.contact button {
    background-color: #0dd3d3;
    color: #fff;
    padding: 1em 2em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.contact button:hover {
    background-color: #0fb8b8; /* Darker blue on hover */
    border-color: #0fb8b8; /* Darker blue border on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
}

/* Footer Styles */
.footer {
    background-color: #222;
    color: #ccc;
    text-align: center;
    padding: 1em 0;
}

.footer p {
    margin: 0;
}

/* Scroll Animations */
.section {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries for Responsive Design */
@media (max-width: 992px) {
    .container {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .header .container {
        flex-direction: column;
        align-items: center;
    }

    .header nav ul {
        margin-top: 1em;
    }

    .header nav ul li {
        display: block;
        margin: 0.5em 0;
    }

    .hero h2 {
        font-size: 2.8rem;
    }

    .hero p {
        font-size: 1.1rem;
    }

    .btn {
        padding: 0.8em 1.5em;
    }
}

